*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
overflow:hidden;
background:black;
}


/* OTP SCREEN */

.lock-screen{
position:fixed;
width:100%;
height:100%;
background:linear-gradient(#141e30,#243b55);
color:white;

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
gap:15px;

z-index:9999;
}

.lock-screen input{
padding:12px;
border-radius:20px;
border:none;
width:200px;
text-align:center;
}

.lock-screen button{
padding:10px 25px;
border:none;
border-radius:20px;
background:#ff4d6d;
color:white;
cursor:pointer;
}


/* MUSIC */

.music-btn{
position:fixed;
top:15px;
right:15px;
z-index:1000;
}

.music-btn button{
padding:8px 15px;
border:none;
border-radius:20px;
background:#ff4d6d;
color:white;
cursor:pointer;
}


/* SLIDER */

.container{
width:100vw;
height:100vh;
overflow:hidden;
}

.slider{
display:flex;
width:700vw;
height:100vh;
transition:0.8s ease;
}

.slide{
width:100vw;
height:100vh;

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

text-align:center;
color:white;
padding:30px;
}


/* COLORS */

.one{background:linear-gradient(#ff9a9e,#fad0c4);}
.two{background:linear-gradient(#a18cd1,#fbc2eb);}
.three{background:linear-gradient(#fbc2eb,#a6c1ee);}
.four{background:linear-gradient(#fdcbf1,#e6dee9);}
.five{background:linear-gradient(#ffecd2,#fcb69f);}
.countdown{background:linear-gradient(#667db6,#0082c8);}
.gallery{background:linear-gradient(#fc5c7d,#6a82fb);}


/* COUNTDOWN */

#countdown{
font-size:28px;
margin:15px 0;
}

.date-info{
font-size:14px;
opacity:0.8;
}


/* GALLERY */

.gallery-box{
display:flex;
gap:15px;
}

.gallery-box img{
width:180px;
height:220px;
object-fit:cover;
border-radius:15px;
box-shadow:0 0 15px rgba(0,0,0,0.4);
}


/* POPUP */

.popup{
position:fixed;
width:100%;
height:100%;
background:rgba(0,0,0,0.9);

display:none;
flex-direction:column;
justify-content:center;
align-items:center;

color:white;
z-index:99999;
}

.popup textarea{
width:250px;
height:120px;
border-radius:10px;
padding:10px;
border:none;
}

.popup button{
margin-top:15px;
padding:10px 25px;
border:none;
border-radius:20px;
background:#ff4d6d;
color:white;
cursor:pointer;
}
